/* 
   body{
        background-color: rgb(171, 145, 196);
        
    }
    h1{
        color: white;
        font-weight: bold;
    }
    button{
        width: 180px;
        height: 40px;
    } */
   
   
