body{
    background-image: url(./background-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    
}
      /* background gradient */
.rong{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    background: linear-gradient(to right, red,blue,violet,yellow);
}
.rong1{
    width: 600px;
    height: 300px;
    border: 2px solid black;
    background: radial-gradient(circle,red,yellow,green,blue);
}