p{
    width: 50%;
    border: 2px solid black;
}
span{
    color: darkred;
    border: 3px solid blue;
    display: inline-block;
}
.BGI{
    border: 1px solid red;
    height: 400px;
    width: 100%;
    background-image: url(./pngtree-natural-.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}